#view {
   min-width:250px;
   max-width: fit-content;
   
    border: 2px solid red;
    color: blue;}
    
#text{
    background-color: aquamarine;
    width: 200px;
    height: 70px;
    text-align: center;
    color: brown;
    margin-top: 50px;
    margin-left: 500px;
    margin-bottom: 25px;
}